<div class="row justify-content-center align-items-center">
    <div class=".bg-dark">
        <div class="row">
            <h1 class="text-center">Login</h1>
            <form (ngSubmit)="onLogin()">
                <input [(ngModel)]="username" name="username" placeholder="Username" required />
                <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required />
                <button type="submit">Login</button>
            </form>
            <p>
                <a class="nav-link" routerLink="/register">No Account? Register Here</a>
                <router-outlet />
            </p>
        </div>
    </div>